{{define "home"}}
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sau-na</title>
  <script src='https://unpkg.com/htmx.org@1.9.10' integrity='sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC' crossorigin='anonymous'></script>
  <link rel='stylesheet' crossorigin href='/assets/style.css'>
  <script type='module' crossorigin src='/assets/main.js'></script>
</head>
<body>
  <h1>Hello {{.name}}</h1>
  <br>
  <sau-button message="クリックして！！" hx-post='/api/users/me'></sau-button>
  <br>
  <sau-button outline message="クリックして！！" hx-post='/api/users/me'></sau-button>
</body>
</html>
{{end}}