button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}

.sau-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 320px;
  height: 48px;
  padding: 8px 24px;
  font-size: 16px;
  color: #fff;
  text-align: center;
  overflow-wrap: anywhere;
  background-color: #6fa24a;
  border-radius: 32px;
  font-weight: bold;
}

@media (any-hover: hover) {
  .sau-button {
    transition: opacity 0.2s;
  }

  .sau-button:hover {
    opacity: 0.8;
  }
}

.sau-button.outline {
  background-color: white;
  color: #6fa24a;
  border: 1px solid #6fa24a;
}