@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --background-color: #ecf5ff;
  --main-background-color: #ffffff;
  --main-color: rgb(37 99 235);
}

body {
  background-color: var(--background-color);
}

main {
  display: flex;
  flex-direction: column;
  max-width: 640px;
  height: 100vh;
  overflow: scroll;
  margin: 0 auto;
  background-color: var(--main-background-color);
}

.google-font {
  font-family: "Dela Gothic One", sans-serif;
}

.link {
  color: #0000ee;
  text-decoration: underline;
}

.link:visited {
  color: #551a8b;
  text-decoration: underline;
}

.link:active {
  color: #ff0000;
  text-decoration: underline;
}
